In [28]:
# Owen Wichiencharoen's standard Python Imports:

import pandas as pd
from pandas import Series, DataFrame
import numpy as np
import seaborn as sns
sns.set_style('darkgrid')

import matplotlib.pyplot as plt
%matplotlib inline


### REGRESSION PACKAGES
# from scipy import stats
# import statsmodels.formula.api as smf
# import statsmodels.api as sm
# import sklearn.linear_model as lm

### DATASET PACKAGES
# from sklearn.cross_validation import train_test_split, cross_val_score
# from sklearn import datasets, metrics

### TREE/RANDOMFOREST PACKAGES
# from sklearn.tree import DecisionTreeClassifier, export_graphviz
# from sklearn.ensemble import RandomForestClassifier
# import pydot
# from os import system
# from sklearn.externals.six import StringIO
# from IPython.display import Image

### OTHER PACKAGES
#import itertools
#import pandas_datareader.data as pdweb
#from pandas_datareader.data import DataReader
#from datetime import datetime
#from io import StringIO
from IPython.display import Image

## Important notes from Kaggle

https://www.kaggle.com/c/talkingdata-mobile-user-demographics/forums

- not all events have location (latitude/longitude), and you can treat (0,0),(1,0),(0,1),(1,1) lat/long as NaN.
- Some device_ids have duplicates (mappable to two brands/models) - the user probably upgraded his or her phone.
- ...

#### Data Descriptions

- gender_age_train.csv, gender_age_test.csv - the training and test set group: this is the target variable you are going to predict
- events.csv, app_events.csv - when a user uses TalkingData SDK, the event gets logged in this data. Each event has an event id, location (lat/long), and the event corresponds to a list of apps in app_events. timestamp: when the user is using an app with TalkingData SDK
- app_labels.csv - apps and their labels, the label_id's can be used to join with label_categories
- label_categories.csv - apps' labels and their categories in text
- phone_brand_device_model.csv - device ids, brand, and models

In [15]:
Image(url='http://i.imgsafe.org/132c9be39b.png')

In [2]:
raw_events = pd.read_csv('../../kaggle_data/events.csv')

In [3]:
raw_label_categories = pd.read_csv('../../kaggle_data/label_categories.csv')
raw_phone_brand_device_model = pd.read_csv('../../kaggle_data/phone_brand_device_model.csv',encoding='utf-8')
raw_gender_age_train = pd.read_csv('../../kaggle_data/gender_age_train.csv')
raw_gender_age_test = pd.read_csv('../../kaggle_data/gender_age_test.csv')
raw_app_events = pd.read_csv('../../kaggle_data/app_events.csv')
raw_app_labels = pd.read_csv('../../kaggle_data/app_labels.csv')

In [30]:
# MAIN EVENTS TABLE

print('NUMBER OF ROWS:', raw_events.shape[0])

prGreen('\nNULL VALUES:')
print(raw_events.isnull().sum())

prGreen("\nUNIQUE VALUES:")
for c in raw_events.columns:
    print('{}: {}'.format(c, raw_events[c].nunique()))

raw_events.head(3)

NUMBER OF ROWS: 3252950

NULL VALUES:
event_id     0
device_id    0
timestamp    0
longitude    0
latitude     0
dtype: int64

UNIQUE VALUES:
event_id: 3252950
device_id: 60865
timestamp: 588125
longitude: 3588
latitude: 3086

   event_id            device_id            timestamp  longitude  latitude
0         1    29182687948017175  2016-05-01 00:55:25     121.38     31.24
1         2 -6401643145415154744  2016-05-01 00:54:12     103.65     30.97
2         3 -4833982096941402721  2016-05-01 00:08:05     106.60     29.70

In [20]:
# phone_brand_device_model TABLE

print('NUMBER OF ROWS:', raw_phone_brand_device_model.shape[0])

print('\nNULL VALUES:')
print(raw_phone_brand_device_model.isnull().sum())

print("\nUNIQUE VALUES:")
for c in raw_phone_brand_device_model.columns:
    print('{}: {}'.format(c, raw_phone_brand_device_model[c].nunique()))

raw_phone_brand_device_model.head(4)

NUMBER OF ROWS: 187245

NULL VALUES:
device_id       0
phone_brand     0
device_model    0
dtype: int64

UNIQUE VALUES:
device_id: 186716
phone_brand: 131
device_model: 1599

             device_id phone_brand device_model
0 -8890648629457979026          小米           红米
1  1277779817574759137          小米         MI 2
2  5137427614288105724          三星    Galaxy S4
3  3669464369358936369       SUGAR         时尚手机

In [21]:
raw_phone_brand_device_model['device_id'].value_counts().sort_values(ascending=False)[:4]

 9218059356897525342    2
 4781989393190512097    2
 5435517613682152801    2
-7525913571507064767    2
Name: device_id, dtype: int64

In [24]:
# Expected device_id to be a unique key. Looks like there are some duplicates

dupes = raw_phone_brand_device_model.groupby('device_id').size()
dupes = dupes[dupes>1]
print('NUMBER OF DUPLICATES:', dupes.shape[0])

print('\nWHAT N OF DUPLICATES:')
dupes.value_counts()

NUMBER OF DUPLICATES: 529

WHAT N OF DUPLICATES:

2    529
dtype: int64

In [27]:
dupes = raw_phone_brand_device_model.loc[raw_phone_brand_device_model['device_id'].isin(dupes.index)]
firstd = dupes.groupby('device_id').first()
lastd = dupes.groupby('device_id').last()